@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//=========== CSS TO FIX TAILWIND and MATERIAL INPUT STYLES =============//
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
.mdc-notched-outline__notch {
  border-right-style: hidden;
}
.mat-mdc-input-element {
  --tw-ring-shadow: 0 0 #000 !important;
}